.cancelSale{
  background-color: rgb(195, 47, 47);
  height: 40px;
  width:150px;
}
.add-product2{
	position: relative;
	right:    0px;
	margin-left: 60%;
  margin-bottom: 2%;
  width: auto;
}
.confirmSale{
  background-color: rgb(61, 155, 61);
  height: 40px;
  width: 150px;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

label {
  font-weight: bold;
  min-width: 80px;
  margin-left: 10px;
}

select,
input {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  flex: 1;
  transition: border-color 0.3s ease-in-out;
}

select {
  height: 40px; /* Adjust the height as needed */
}

select:focus,
input:focus {
  outline: none;
  border-color: #007bff;
}

/* Contenedor general de paginación */
.uk-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* Estilo general para los botones */
.btn-pagination {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #c0c0c0;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Deshabilitar el efecto hover y el cursor para botones deshabilitados */
.btn-pagination[disabled] {
  background-color: #e5e5e5;
  cursor: not-allowed;
}

/* Hover effect para los botones */
.btn-pagination:not([disabled]):hover {
  background-color: #e0e0e0;
}

/* Estilo para el contador de páginas */
.pagination-indicator {
  margin: 0 10px;
  font-weight: bold;
}
