
  <div class="uk-container uk-container-expand">
      <div class="uk-grid-divider uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@s" data-uk-grid>
          <div>
              <div class="uk-child-width-1-2" uk-grid>
                  <div>
                      <h1 class="uk-heading-primary uk-margin-remove  uk-text-third">Despachos</h1>
                  </div>
              </div>
          </div>
          <div>
              <button (click) = "changePanelMode()" class="add-product uk-button uk-align-left uk-button-primary"><span uk-icon="icon: plus"></span> Registrar Despacho</button>
          </div>
      </div>
      <hr>
      <div *ngIf="!showDispatchForm" class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">

          <!-- panel -->
          <div class="uk-width-1-1">
              <div class="uk-card uk-card-default uk-card-small uk-card-hover">
                  <div class="uk-card-header">
                      <div class="uk-grid uk-grid-small ">
                          <div class="uk-width-expand uk-width-1-4">
                              <div class="uk-margin">
                                  <form class="uk-search uk-width-expand uk-search-default">
                                      <span uk-search-icon></span>
                                      <input class="uk-search-input" type="search" placeholder="Busqueda" aria-label="Search" [(ngModel)]="searchQuery" (input)="onSearch()" [ngModelOptions]="{standalone: true}">
                                  </form>
                              </div>
                          </div>
                          <div class="uk-width-expand uk-width-1-4">
                              <div class="display--filters">
                                  <label for="" style="margin-right: 5%;">Sucursal Emitente:</label>
                                  <select class="uk-select" placeholder="Sucursal" [(ngModel)]="instalationValue">
                                      <option value="all">Todos</option>
                                      <option *ngFor="let instalation of instalations" [value]="instalation.nombre_instalacion">{{instalation.nombre_instalacion}}</option>
                                  </select>
                              </div>
                          </div>
                          <div class="uk-width-expand uk-width-1-4">
                              <div class="display--filters">
                                  <label for="" style="margin-right: 5%;">Sucursal Receptora:</label>
                                  <select class="uk-select" placeholder="Sucursal" [(ngModel)]="instalationValue2">
                                      <option value="all">Todos</option>
                                      <option *ngFor="let instalation of instalations" [value]="instalation.nombre_instalacion">{{instalation.nombre_instalacion}}</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="uk-card-body">
                      <div class="chart-container uk-overflow-auto">
                          <table class="uk-table uk-table-small uk-table-striped uk-table-responsive">
                              <thead>
                                  <tr>
                                    <th class="uk-table-small">Fecha Inicio</th>
                                    <th class="uk-table-small">Fecha Final</th>
                                    <th class="uk-table-expand">Sucursal Emitente</th>
                                    <th class="uk-table-expand">Sucursal Receptora</th>
                                    <th class="uk-table-expand">Encargado</th>
                                    <th class="uk-table-expand">Estado</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <ng-container *ngFor="let despacho of data">
                                      <!-- <tr  *ngIf="(categoriaValue === product.codigo_categoria || categoriaValue === 'all') && (estadoValue == product.codigo_estado || estadoValue === '0')"> -->
                                      <tr (click)="getDetails(despacho)"
                                      *ngIf="(instalationValue == despacho.instalacion_emitente || instalationValue === '0')&&(instalationValue2 == despacho.instalacion_receptora || instalationValue2 === '0')">
                                        <td>{{ despacho.fecha_inicio }}</td>
                                        <td>{{ despacho.fecha_final }}</td>
                                        <td>{{ despacho.instalacion_emitente }}</td>
                                        <td>{{ despacho.instalacion_receptora }}</td>
                                        <td>{{ despacho.encargado }}</td>
                                        <td>{{ despacho.estado }}</td>
                                      </tr>
                                  </ng-container>
                              </tbody>
                          </table>
                          <ng-template #empty>
                              <h3>Datos no encontrados, por favor verifica tus filtros.</h3>
                          </ng-template>
                      </div>
                  </div>
              </div>
          </div>
          <div class="uk-pagination pagination--position center-flex" uk-margin>
            <button type="button" class="btn-pagination " [disabled]="currentPage===1" (click)="returnFirstPage()" >Inicio</button>
            <button type="button" class="btn-pagination " [disabled]="currentPage === 1" (click)="prevPage()">Anterior</button>
            <span class="pagination-indicator">{{ currentPage }} / {{ totalPages }}</span>
            <button type="button" class="btn-pagination" [disabled]="currentPage === totalPages" (click)="nextPage()">Siguiente</button>
            <button type="button" class="btn-pagination" [disabled]="currentPage === totalPages" (click)="returnLastPage()">Final</button>
          </div>
          <!-- /panel -->
      </div>

       <!-- Register new sale form -->
<section *ngIf="showDispatchForm">
  <h2>Registrar un pedido</h2>
  <div>
    <div>
      <label for="instalacionDropdown">Instalacion:</label>
      <select id="instalacionDropdown" class="form-control" [(ngModel)]="instalacionSelected" (change)="whenSelectedInstalation()">
        <option value="" disabled selected>Instalacion</option>
        <option *ngFor="let instalacion of instalations" [value]="instalacion.codigo_instalacion">{{ instalacion.nombre_instalacion }}</option>
      </select>
      <label for="productDropdown">Producto:</label>
      <select disabled id="productDropdown" class="form-control" [(ngModel)]="productSelected">
        <option value="" disabled selected>Selecciona un producto</option>
        <option *ngFor="let product of products" [value]="product.codigo_producto">Producto:{{ product.nombre_producto }}</option>
      </select>
      <label for="quantityInput">Cantidad:</label>
      <input id="quantityInput" type="number" onkeypress="return event.charCode >= 48" min="1" placeholder="Cantidad">
      <button (click)="addProduct()">Agregar Producto</button>
    </div>
    <div>
      <ul>
        <li *ngFor="let product of selectedProducts; let i = index">
            {{ product.name }}
            <input type="number" [(ngModel)]="product.quantity" placeholder="Quantity">
            <button (click)="removeProduct(i)">Eliminar</button>
        </li>
      </ul>
    </div>
  </div>
    <button (click)="confirmDispatch()" class="uk-align-left uk-button-primary confirmSale">Confirmar</button>
    <button (click)="cancelarPedido()" class="uk-align-left uk-button-primary cancelSale" >Cancelar</button>
  <div>

      <footer class="uk-section uk-section-small uk-text-center">
          <hr>
          <span class="uk-text-small uk-text-muted">© 2023 <a class="uk-text-third"
                  href="https://www.facebook.com/profile.php?id=100054286971522">Kera3</a> | Proyecto Ingenieria de
              Software</span>
      </footer>
  </div>
