.cancelSale{
  background-color: rgb(195, 47, 47);
  height: 40px;
  width:150px;
}
.confirmSale{
  background-color: rgb(61, 155, 61);
  height: 40px;
  width: 150px;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

label {
  font-weight: bold;
  min-width: 80px;
  margin-left: 10px;
}

select,
input {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  flex: 1;
  transition: border-color 0.3s ease-in-out;
}

select {
  height: 40px; /* Adjust the height as needed */
}

select:focus,
input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
.action-button{
  width: 20px;
  height: 20px;
  &::hover
  { background-color: #0056b3;
    border-color: #0056b3;
    border-width: 0.5px;
  }
}
