<!--HEADER-->
<header id="top-head" class="uk-position-fixed">
  <div class="uk-container uk-container-expand uk-background-third">
      <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
          <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                  <li><a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon
                          href="#offcanvas-nav" title="Offcanvas" data-uk-tooltip></a></li>
              </ul>
          </div>
      </nav>
  </div>
</header>
<!--/HEADER-->
<!-- LEFT BAR -->
<aside id="left-col" class="uk-light uk-visible@m uk-back-third">
  <div class="left-content-box  content-box-dark">
      <h4 class="uk-text-center uk-margin-remove-vertical text-light">{{userData.user_nombres}} {{userData.user_apellidos}}</h4>
      <div class="uk-position-relative uk-text-center uk-display-block">
          <p class="uk-text-small uk-text-muted uk-display-block uk-text-center">{{userData.rol_interno.toUpperCase()}}</p>
      </div>
  </div>
  <div class="left-nav-wrap">
      <div class="left-content-box uk-margin-top">
        <h5 class="nav-option {{ navcurrent === 'inv' ? 'active' : '' }}" (click)="setCurrentNav('inv')">Inventario</h5>
        <h5 class="nav-option {{ navcurrent === 'pay' ? 'active' : '' }}" (click)="setCurrentNav('pay')">Recibos</h5>
        <h5 class="nav-option {{ navcurrent === 'sale' ? 'active' : '' }}" (click)="setCurrentNav('sale')">Envíos</h5>
        <h5 class="nav-option {{ navcurrent === 'buys' ? 'active' : '' }}" (click)="setCurrentNav('buys')">Compras</h5>
        <h5 class="nav-option {{ navcurrent === 'cli' ? 'active' : '' }}" (click)="setCurrentNav('cli')">Clientes</h5>
        <h5 class="nav-option {{ navcurrent === 'hr' ? 'active' : '' }}" (click)="setCurrentNav('hr')" *ngIf="userData.rol_interno == 'ADMINISTRADOR'" >Empleados</h5>
      </div>
  </div>
  <div class="bar-bottom uk-back-black">
      <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
          <li>
              <a class="uk-icon-link" data-uk-icon="icon: sign-out" data-uk-tooltip="Salir" (click)="logOut()"></a>
          </li>
      </ul>
  </div>
</aside>
<!-- /LEFT BAR -->
<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
<!-- inventory panel -->
  <app-inventory [instalation] = "this.userData.codigo_instalacion" [products]="products" *ngIf="navcurrent == 'inv'"></app-inventory>
  <!-- Instalaciones panel -->
  <app-abonos [sales]="sales" *ngIf="navcurrent == 'pay'" [instalation] = "this.userData.codigo_instalacion" [clients]="clients"></app-abonos>
  <!-- clients panel -->
  <app-clients *ngIf="navcurrent == 'cli'" [clients]="clients"></app-clients>
  <!-- panel de ventas -->
  <app-ventas [sales]="sales"  [instalation] = "this.userData.codigo_instalacion" [user_id]="this.userData.user_id"  [clients]="clients"  *ngIf="navcurrent == 'sale'"></app-ventas>
  <!-- panel de compras -->
  <app-compras [instalation] = "this.userData.codigo_instalacion" [user_id]="this.userData.user_id" *ngIf="navcurrent == 'buys'"></app-compras>
  <!-- employees panel -->
  <app-employees *ngIf="navcurrent == 'hr' && userData.rol_interno == 'ADMINISTRADOR'"></app-employees>

</div>
<!-- /CONTENT -->
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide uk-back-third">
      <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
      <ul class="uk-nav uk-nav-default uk-position-center">
        <h5 class="nav-option {{ navcurrent === 'inv' ? 'active' : '' }}" (click)="setCurrentNav('inv')">Inventario</h5>
        <h5 class="nav-option {{ navcurrent === 'pay' ? 'active' : '' }}" (click)="setCurrentNav('pay')">Abonos</h5>
        <h5 class="nav-option {{ navcurrent === 'sale' ? 'active' : '' }}" (click)="setCurrentNav('sale')">Envíos</h5>
        <h5 class="nav-option {{ navcurrent === 'buys' ? 'active' : '' }}" (click)="setCurrentNav('buys')">Compras</h5>
        <h5 class="nav-option {{ navcurrent === 'cli' ? 'active' : '' }}" (click)="setCurrentNav('cli')">Clientes</h5>
        <h5 class="nav-option {{ navcurrent === 'hr' ? 'active' : '' }}" (click)="setCurrentNav('hr')" *ngIf="userData.rol_interno == 'ADMINISTRADOR'">Empleados</h5>
          <li class="uk-nav-header">Opciones</li>
          <li><a href="/login"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: sign-out" (click)="logOut()"></span>
                  Salir</a></li>
      </ul>
  </div>
</div>
<!-- /OFFCANVAS -->
